.footer {
	height: 80px;
	background-color: $rd-blue;
	color: white;
	text-align: center;
	position: relative;

	p {
		padding-top: 30px;
  		font-size: 12px;
	}

	span {
		font-size: 10px;
		display: inline-block;
	}
}

.push {
	height: 80px;
}