
	.header {
	background-color: $rd-blue;
	position: fixed;
	width: 100%;
	z-index: 10;

	p {
		padding: $med;
		color: white;
	}

	.strava-btn {
		position: absolute;
		right: 3em;
		top: 50%;
		margin-top: -16px;
	}

	#pf--img {
		position: absolute;
		display: none;
		right: 3em;
		top: 50%;
		margin-top: -30px;
    	border-radius: 50%;
    	width: 60px;
    	height: 60px;
    	border: 1px solid #50E3C2;
	}

	.displayblock {
    display: block !important;
}
}