.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
}

.userinfo {
	background-color: $rd-orange;
	position: absolute;
	margin-top: 2%;
	left: $med;
	padding: $norm $large;

	span {
		display: block;
	}
}

.nodisplay {
    display: none;
}

.displayblock {
    display: block;
}

.intro {
    text-align: center;
    width: 80%;
    left:50%;
    margin-left: -40%;
    position: relative;
    font-size: 18px;
    padding-top: 7em;
    padding-bottom: 2em;

    @media (min-width: 1024px) {
        width: 50%;
        left:50%;
        margin-left: -25%;
        padding-top: 7em;
        padding-bottom: 3em;
        font-size: 18px;
    }
}

.container {
    margin-bottom: 10em;
}

button,
input,
select,
textarea {
    font-size: 100%; 
    margin: 0;
    vertical-align: baseline; 
}

button::-moz-focus-inner,
input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; 
    vertical-align: top; 
}

#contact-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact-form li {
    position: relative; 
}

input:required,
input:invalid,
input:valid,
textarea:required,
textarea:invalid,
textarea:valid {
    box-shadow:none !important;
}

input, 
textarea {
    display: block; 
    border: 0;
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
    color: #FFF;
    opacity: .2 !important;
}

label {
    display: inline-block;
    position: absolute; 
    margin-top: -64px;
    font-size: 1em;
    font-weight: bold;
    color: #555;
    opacity: .5;
    opacity: 1;
    -webkit-transition: transform  100ms ease-out,
    opacity    300ms ease-in-out,
    color      200ms ease-out, 
    margin     200ms ease-out;
    transition: transform  100ms ease-out,
    opacity    300ms ease-in-out,
    color      200ms ease-out, 
    margin     200ms ease-out;
}

input, 
textarea,{ 
    position: relative;
    width: 100%;
    margin-bottom: 35px ; 
    padding-bottom: .45em;
    padding-top: 1.5em; 
    outline: 0;
    resize: none;
    overflow: hidden;
    border-bottom: 1px solid #7f7f7f;
    -webkit-transition: text-indent  400ms ease-out,
    transform    225ms ease-out,
    opacity      225ms ease-in-out,
    border       300ms ease-out, 
    color        300ms ease-out;
    transition: text-indent  400ms ease-out,
    transform    225ms ease-out,
    opacity      225ms ease-in-out,
    border       300ms ease-out, 
    color        300ms ease-out;
}

input { 
    text-indent: -999px; 
}

input:focus,
textarea:focus {
    color: #777;
    border-bottom: 3px solid rgba(0, 161, 217, 1);
    opacity: 1;
    text-indent: 0;
}

input[type=time]:focus {
    color: #777;
    border-bottom: 3px solid rgba(0, 161, 217, 1) !important;
    opacity: 1;
    text-indent: 0;
}

input[type=time]:focus ~ .required {
    opacity: 1 !important;
}

input:focus + label {
    margin-top: -90px;
    opacity: 1;
    color: rgba(0, 161, 217, 1);
}

textarea:focus + label {
    margin-top: -115px;
    opacity: 1;
    color: rgba(0, 161, 217, 1);
}

input:focus ~ .required {
    opacity: 1;
}

textarea { 
    text-indent: -999px; 
    padding-bottom: 15px;
    height: auto;
    resize: none;
}

input[type=submit] {
    box-sizing:border-box;
    margin-top: 2.2em;
    margin-bottom: 1em;
    padding: .7em 1em ;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #F67421;
    color: #F67421; 
    font-weight: bold;
    font-size: 1.3em;
    opacity: 1 !important;
    text-indent: 0;
    -webkit-transform: none;
<<<<<<< HEAD
    transform: none;
    transition: color none;
    transition: background-color 0.24s ease-out;

    &:hover {
        border: 0;
        background-color: #F67421;
        color: white;
    }
=======
            transform: none;

    &:hover {
        display: none;
            }
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
}

/*NOTIFICATIONS*/
.required {
    position: absolute;
    margin-top: -26px;
    /*margin-left: 59%;*/
    opacity: 0;
    color: rgba(0, 161, 217, 1);
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
    -webkit-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}

.notification {
    position: absolute;
    color: rgba(242, 48, 65, 0.95);
    margin-top: -25px;
    margin-bottom: 30px;
    opacity: 0;
    font-size: .9em;
    font-weight: bold;
    -webkit-transition: opacity  325ms ease-out;
    transition: opacity  325ms ease-out;
}

.char-counter {
    position: absolute;
    color: rgba(0, 161, 217, 1);
    margin-top: -25px;
    margin-bottom: 30px;
    opacity: 1;
    font-size: .9em;
    font-weight: bold;
    -webkit-transition: opacity  325ms ease-out;
    transition: opacity  325ms ease-out;   
}

@media (min-width: 0px) and (max-width: 767px) {
    h1 {
        font-size: 1.75em;
    }

    label {
        font-size: .9em;
    }

    #contact-form {
        position: relative;
        width: 300px;
        margin: 15px auto;
        padding: 45px 20px 30px;
    }

    .required {
        margin-top: -24px;
        margin-left: 76%;
    }

    textarea:focus ~ .required,
    textarea:not(:focus) ~ .required {
        margin-top: -24px;
    }

    textarea:focus ~ .required { opacity: 1; }
    textarea:not(:focus) ~ .required { opacity: 0; }
}

@media (min-width: 768px) {
    #contact-form {
        position: relative;
        width: 450px;
        margin: 30px auto;
        padding: 45px 50px 30px;
    }

    .required {
        margin-top: -25px;
        margin-left: 82.5%;
    }

    textarea:focus ~ .required,
    textarea:not(:focus) ~ .required {
        margin-top: -23px;
    }

    textarea:focus ~ .required {
        opacity: 1;
    }

    textarea:not(:focus) ~ .required {
        opacity: 0;
    }
}

.public {
  margin-top: 4em;
  position: relative;

  label{
    margin-top: -30px !important;
}

}

.choice {
  position: relative;

  input {
    margin-bottom: 0;
}

label {
    position: inline-block;
    position: absolute;
    left: 30px;

}
}

#map-canvas {
	position: relative;
    width: 90%;
    height: 400px;
    left:50%;
    margin-left: -45%;
    margin-top: 2%;

    @media (min-width: 1024px) {
        width: 800px;
        height: 400px;
        left: 50%;
        margin-left: -400px;
    }
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.public label {
    margin-top: -20px !important;
}

input[type="radio"] {
    position: relative;
    width: 24px;
    height: 24px;
    opacity: 0;
    top: 18px;
    z-index: 1;
    margin-top: -10px;
}

input[type="radio"] + span {
    position: relative;
    left: 30px;

    &:before {
        content:"";
        position: absolute;
        top: -4px;
        margin-left: -30px;
        display:inline-block;
        width:24px;
        height:24px;
        background:url(../img/checkun.png) left top no-repeat;
    }
}

input[type="radio"]:checked + span {
    position: relative;

    &:before {
        width:22px;
        height:23px;
        background:url(../img/checked.png) top no-repeat;
    }
}


