html,
body {
    height: 100%;
}

body {
    font-family: $signika;
    color: rgb(40,0,0);

    background-color: rgb(236,236,236);
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -80px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
