// Typography
$signika:				'signikaregular', Helvetica, sans-serif;



$snow-white: rgb(255,255,255);

//Projectcolors
$rd-orange: rgb(248,116,0);
$rd-blue:	rgb(50,153,186);

$ratio      : 1.618;

$norm	      : 1em;
$med          : $norm*$ratio;
$small        : $norm/$ratio;
$xsmall       : $small/$ratio;
$xxsmall      : $xsmall/$ratio;
$xxxsmall     : $xxsmall/$ratio;
$large        : $med*$ratio;
$xlarge       : $large*$ratio;
$xxlarge      : $xlarge*$ratio;

$normpx       : 14px;
$medpx        : $normpx*$ratio;
$smallpx      : $normpx/$ratio;
$xsmallpx     : $smallpx/$ratio;
$xxsmallpx    : $xsmallpx/$ratio;
$xxxsmallpx   : $xxsmallpx/$ratio;
$largepx      : $medpx*$ratio;
$xlargepx     : $largepx*$ratio;
$xxlargepx    : $xlargepx*$ratio;

$base-font-size: $normpx;
$base-line-height: $medpx;