/* line 1, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 11, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 14, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
body {
  line-height: 1; }

/* line 17, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
ol, ul {
  list-style: none; }

/* line 20, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 24, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 29, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 33, /Users/Tom/run-to-date/src/scss/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/Tom/run-to-date/src/scss/modules/_clearfix.scss */
.clear:before, .clear:after {
  content: ' ';
  display: table; }

/* line 5, /Users/Tom/run-to-date/src/scss/modules/_clearfix.scss */
.clear {
  *zoom: 1; }
  /* line 10, /Users/Tom/run-to-date/src/scss/modules/_clearfix.scss */
  .clear:after {
    clear: both; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
audio, canvas, video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
[hidden], template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 76, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 122, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 131, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 139, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 147, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 157, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 169, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 178, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
/* line 186, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 194, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 203, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 210, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
sup {
  top: -0.5em; }

/* line 214, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 226, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 234, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 246, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 258, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 269, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 283, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 295, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button, input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 307, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 322, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 332, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 342, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 353, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 366, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 375, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 385, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 398, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * my own normalize:
 */
/* line 406, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
h1, h2 {
  margin-top: 0; }

/* line 410, /Users/Tom/run-to-date/src/scss/modules/_normalize.scss */
h2 {
  margin-top: 1em; }

/* line 2, /Users/Tom/run-to-date/src/scss/modules/_base.scss */
html, body {
  height: 100%; }

/* line 6, /Users/Tom/run-to-date/src/scss/modules/_base.scss */
body {
  font-family: 'signikaregular', Helvetica, sans-serif;
  color: #280000;
  background-color: #ececec; }

/* line 13, /Users/Tom/run-to-date/src/scss/modules/_base.scss */
.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto -80px; }

/* line 20, /Users/Tom/run-to-date/src/scss/modules/_base.scss */
.pull-left {
  float: left; }

/* line 24, /Users/Tom/run-to-date/src/scss/modules/_base.scss */
.pull-right {
  float: right; }

<<<<<<< HEAD
/* line 2, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_header.scss */
.header {
  background-color: #3299ba;
  position: fixed;
  width: 100%;
  z-index: 10; }
  /* line 8, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_header.scss */
  .header p {
    padding: 1.618em;
    color: white; }
  /* line 13, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_header.scss */
  .header .strava-btn {
=======
/* line 1, /Users/Tom/run-to-date/src/scss/partials/_header.scss */
.header {
  background-color: #3299ba;
  position: relative; }
  /* line 5, /Users/Tom/run-to-date/src/scss/partials/_header.scss */
  .header p {
    padding: 1.618em; }
  /* line 9, /Users/Tom/run-to-date/src/scss/partials/_header.scss */
  .header img {
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
    position: absolute;
    right: 3em;
    top: 50%;
    margin-top: -16px; }
  /* line 20, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_header.scss */
  .header #pf--img {
    position: absolute;
    display: none;
    right: 3em;
    top: 50%;
    margin-top: -30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid #50E3C2; }
  /* line 32, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_header.scss */
  .header .displayblock {
    display: block !important; }

<<<<<<< HEAD
/* line 1, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.no-js #loader {
  display: none; }

/* line 2, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

/* line 3, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #fff; }

/* line 13, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 1, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.userinfo {
  background-color: #f87400;
  position: absolute;
  margin-top: 2%;
  left: 1.618em;
  padding: 1em 2.617924em; }
<<<<<<< HEAD
  /* line 20, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  .userinfo span {
    display: block; }

/* line 25, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.nodisplay {
  display: none; }

/* line 29, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.displayblock {
  display: block; }

/* line 33, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.intro {
  text-align: center;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  position: relative;
  font-size: 18px;
  padding-top: 7em;
  padding-bottom: 2em; }
  @media (min-width: 1024px) {
    .intro {
      width: 50%;
      left: 50%;
      margin-left: -25%;
      padding-top: 7em;
      padding-bottom: 3em;
      font-size: 18px; } }

/* line 53, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.container {
  margin-bottom: 10em; }

/* line 60, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 8, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  .userinfo span {
    display: block; }

/* line 16, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

<<<<<<< HEAD
/* line 67, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 23, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

<<<<<<< HEAD
/* line 72, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 28, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
textarea {
  overflow: auto;
  vertical-align: top; }

<<<<<<< HEAD
/* line 77, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 33, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
#contact-form {
  background-color: #FFF; }

/* line 37, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
#contact-form ul {
  list-style: none;
  margin: 0;
  padding: 0; }

<<<<<<< HEAD
/* line 83, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
#contact-form li {
  position: relative; }

/* line 92, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input:required, input:invalid, input:valid, textarea:required, textarea:invalid, textarea:valid {
  box-shadow: none !important; }

/* line 97, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 43, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
#contact-form li {
  position: relative; }

/* line 52, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
input:required, input:invalid, input:valid, textarea:required, textarea:invalid, textarea:valid {
  box-shadow: none !important; }

/* line 57, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input, textarea {
  display: block;
  border: 0;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px; }

<<<<<<< HEAD
/* line 108, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 68, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #FFF;
  opacity: 0.2 !important; }

<<<<<<< HEAD
/* line 113, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 73, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
label {
  display: inline-block;
  position: absolute;
  margin-top: -64px;
  font-size: 1em;
  font-weight: bold;
  color: #555;
  opacity: 0.5;
  opacity: 1;
  -webkit-transition: transform 100ms ease-out, opacity 300ms ease-in-out, color 200ms ease-out, margin 200ms ease-out;
  transition: transform 100ms ease-out, opacity 300ms ease-in-out, color 200ms ease-out, margin 200ms ease-out; }

<<<<<<< HEAD
/* line 133, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 93, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input, textarea {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  padding-bottom: 0.45em;
  padding-top: 1.5em;
  outline: 0;
  resize: none;
  overflow: hidden;
  border-bottom: 1px solid #7f7f7f;
  -webkit-transition: text-indent 400ms ease-out, transform 225ms ease-out, opacity 225ms ease-in-out, border 300ms ease-out, color 300ms ease-out;
  transition: text-indent 400ms ease-out, transform 225ms ease-out, opacity 225ms ease-in-out, border 300ms ease-out, color 300ms ease-out; }

<<<<<<< HEAD
/* line 155, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input {
  text-indent: -999px; }

/* line 160, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 115, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
input {
  text-indent: -999px; }

/* line 120, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input:focus, textarea:focus {
  color: #777;
  border-bottom: 3px solid #00a1d9;
  opacity: 1;
  text-indent: 0; }

<<<<<<< HEAD
/* line 167, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 127, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input[type=time]:focus {
  color: #777;
  border-bottom: 3px solid #00a1d9 !important;
  opacity: 1;
  text-indent: 0; }

<<<<<<< HEAD
/* line 174, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input[type=time]:focus ~ .required {
  opacity: 1 !important; }

/* line 178, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 134, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
input[type=time]:focus ~ .required {
  opacity: 1 !important; }

/* line 138, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input:focus + label {
  margin-top: -90px;
  opacity: 1;
  color: #00a1d9; }

<<<<<<< HEAD
/* line 184, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 144, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
textarea:focus + label {
  margin-top: -115px;
  opacity: 1;
  color: #00a1d9; }

<<<<<<< HEAD
/* line 190, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input:focus ~ .required {
  opacity: 1; }

/* line 194, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 150, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
input:focus ~ .required {
  opacity: 1; }

/* line 154, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
textarea {
  text-indent: -999px;
  padding-bottom: 15px;
  height: auto;
  resize: none; }

<<<<<<< HEAD
/* line 201, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 161, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
input[type=submit] {
  box-sizing: border-box;
  margin-top: 2.2em;
  margin-bottom: 1em;
  padding: 0.7em 1em;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border: 1px solid #F67421;
  color: #F67421;
  font-weight: bold;
  font-size: 1.3em;
  opacity: 1 !important;
  text-indent: 0;
  -webkit-transform: none;
<<<<<<< HEAD
  transform: none;
  transition: color none;
  transition: background-color 0.24s ease-out; }
  /* line 220, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  input[type=submit]:hover {
    border: 0;
    background-color: #F67421;
    color: white; }

/*NOTIFICATIONS*/
/* line 228, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  transform: none; }
  /* line 178, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  input[type=submit]:hover {
    display: none; }

/*NOTIFICATIONS*/
/* line 184, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.required {
  position: absolute;
  margin-top: -26px;
  /*margin-left: 59%;*/
  opacity: 0;
  color: #00a1d9;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out; }

<<<<<<< HEAD
/* line 241, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 197, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.notification {
  position: absolute;
  color: rgba(242, 48, 65, 0.95);
  margin-top: -25px;
  margin-bottom: 30px;
  opacity: 0;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-transition: opacity 325ms ease-out;
  transition: opacity 325ms ease-out; }

<<<<<<< HEAD
/* line 253, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 209, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.char-counter {
  position: absolute;
  color: #00a1d9;
  margin-top: -25px;
  margin-bottom: 30px;
  opacity: 1;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-transition: opacity 325ms ease-out;
  transition: opacity 325ms ease-out; }

@media (min-width: 0px) and (max-width: 767px) {
<<<<<<< HEAD
  /* line 266, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  h1 {
    font-size: 1.75em; }

  /* line 270, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  label {
    font-size: 0.9em; }

  /* line 274, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 222, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  h1 {
    font-size: 1.75em; }

  /* line 226, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  label {
    font-size: 0.9em; }

  /* line 230, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  #contact-form {
    position: relative;
    width: 300px;
    margin: 15px auto;
    padding: 45px 20px 30px; }

<<<<<<< HEAD
  /* line 281, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 238, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  .required {
    margin-top: -24px;
    margin-left: 76%; }

<<<<<<< HEAD
  /* line 287, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  textarea:focus ~ .required, textarea:not(:focus) ~ .required {
    margin-top: -24px; }

  /* line 291, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  textarea:focus ~ .required {
    opacity: 1; }

  /* line 292, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 244, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  textarea:focus ~ .required, textarea:not(:focus) ~ .required {
    margin-top: -24px; }

  /* line 248, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  textarea:focus ~ .required {
    opacity: 1; }

  /* line 249, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  textarea:not(:focus) ~ .required {
    opacity: 0; }
 }

@media (min-width: 768px) {
<<<<<<< HEAD
  /* line 296, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 253, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  #contact-form {
    position: relative;
    width: 450px;
    margin: 30px auto;
    padding: 45px 50px 30px; }

<<<<<<< HEAD
  /* line 303, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 261, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  .required {
    margin-top: -25px;
    margin-left: 82.5%; }

<<<<<<< HEAD
  /* line 309, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  textarea:focus ~ .required, textarea:not(:focus) ~ .required {
    margin-top: -23px; }

  /* line 313, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  textarea:focus ~ .required {
    opacity: 1; }

  /* line 317, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
  /* line 267, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  textarea:focus ~ .required, textarea:not(:focus) ~ .required {
    margin-top: -23px; }

  /* line 271, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  textarea:focus ~ .required {
    opacity: 1; }

  /* line 275, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
  textarea:not(:focus) ~ .required {
    opacity: 0; }
 }

<<<<<<< HEAD
/* line 322, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.public {
  margin-top: 4em;
  position: relative; }
  /* line 326, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  .public label {
    margin-top: -30px !important; }

/* line 332, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.choice {
  position: relative; }
  /* line 335, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  .choice input {
    margin-bottom: 0; }
  /* line 339, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  .choice label {
=======
/* line 280, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
.public {
  margin-top: 4em;
  position: relative; }
  /* line 284, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  .public label {
    margin-top: -30px !important; }

/* line 290, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
.choice {
  position: relative; }
  /* line 293, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  .choice input {
    margin-bottom: 0; }
  /* line 297, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
  .choice span {
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
    position: inline-block;
    position: absolute;
    left: 30px; }

<<<<<<< HEAD
/* line 347, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 305, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
#map-canvas {
  position: relative;
  width: 90%;
  height: 400px;
  left: 50%;
  margin-left: -45%;
  margin-top: 2%; }
  @media (min-width: 1024px) {
    #map-canvas {
      width: 800px;
      height: 400px;
      left: 50%;
      margin-left: -400px; } }

<<<<<<< HEAD
/* line 362, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 313, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

<<<<<<< HEAD
/* line 373, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 324, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px; }

<<<<<<< HEAD
/* line 384, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
#pac-input:focus {
  border-color: #4d90fe; }

/* line 388, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.pac-container {
  font-family: Roboto; }

/* line 392, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 335, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
#pac-input:focus {
  border-color: #4d90fe; }

/* line 339, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
.pac-container {
  font-family: Roboto; }

/* line 343, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

<<<<<<< HEAD
/* line 398, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
=======
/* line 349, /Users/Tom/run-to-date/src/scss/partials/_main.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

<<<<<<< HEAD
/* line 404, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
.public label {
  margin-top: -20px !important; }

/* line 408, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input[type="radio"] {
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0;
  top: 18px;
  z-index: 1;
  margin-top: -10px; }

/* line 418, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input[type="radio"] + span {
  position: relative;
  left: 30px; }
  /* line 422, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  input[type="radio"] + span:before {
    content: "";
    position: absolute;
    top: -4px;
    margin-left: -30px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/checkun.png) left top no-repeat; }

/* line 434, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
input[type="radio"]:checked + span {
  position: relative; }
  /* line 437, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_main.scss */
  input[type="radio"]:checked + span:before {
    width: 22px;
    height: 23px;
    background: url(../img/checked.png) top no-repeat; }

/* line 1, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_footer.scss */
=======
/* line 1, /Users/Tom/run-to-date/src/scss/partials/_footer.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.footer {
  height: 80px;
  background-color: #3299ba;
  color: white;
  text-align: center;
  position: relative; }
<<<<<<< HEAD
  /* line 8, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_footer.scss */
  .footer p {
    padding-top: 30px;
    font-size: 12px; }
  /* line 13, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_footer.scss */
  .footer span {
    font-size: 10px;
    display: inline-block; }

/* line 19, /Users/tomharms1/Dropbox/School/MT 2014-2015/Periode 3/BCI/Run-to-Date/src/scss/partials/_footer.scss */
=======
  /* line 7, /Users/Tom/run-to-date/src/scss/partials/_footer.scss */
  .footer p {
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 14px; }
    /* line 14, /Users/Tom/run-to-date/src/scss/partials/_footer.scss */
    .footer p:after {
      -webkit-transition: all 0.24s ease-in;
      -moz-transition: all 0.24s ease-in;
      -ms-transition: all 0.24s ease-in;
      -o-transition: all 0.24s ease-in;
      transition: all 0.24s ease-in;
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      background-position: -672px 0px;
      width: 16px;
      height: 14px;
      bottom: -20px;
      left: 50%;
      margin-left: -8px; }
    /* line 28, /Users/Tom/run-to-date/src/scss/partials/_footer.scss */
    .footer p:hover:after {
      bottom: -30px; }

/* line 35, /Users/Tom/run-to-date/src/scss/partials/_footer.scss */
>>>>>>> f603a855c64e36200bdf9d6b8ce8e51bf712af65
.push {
  height: 80px; }

@media print {
  /* line 2, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 9, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 12, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 15, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 20, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 24, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 28, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  thead {
    display: table-header-group; }

  /* line 32, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 35, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 43, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 48, /Users/Tom/run-to-date/src/scss/modules/_print.scss */
  h2, h3 {
    page-break-after: avoid; }
 }

/*# sourceMappingURL=style.css.map */